header {
  background-color: #1c1e1f;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
}

header h1 {
  width: 20%;
  margin-left: 30px;
}

nav {
  width: 53%;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1c1e1f;
  list-style-type: none;
  margin-right: 40px;
}

.link {
  max-width: 18%;
  flex-grow: 1;
  color: rgb(233, 229, 229);
  padding: 5px;
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
}
.active {
  border-bottom: 4px solid rgb(105, 106, 121);
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 3px;
}

.logo_img {
  width: 130px;
  height: 40px;
  margin-left: 55px;
  margin-top: 10px;
}
