*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.App{
  height: 100%;
  background-color: black;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.App:before{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: url("imagenes/fondo.jpeg");
  opacity: 0.4;
  
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 140px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 40px;
  border-top: 1px solid rgb(59, 59, 59);
  background-color: #1c1e1f;
  text-align: center;
}
.footer p{
  padding: 2px;
  color: white;
 
}
.footer div iframe{
  height: 110px;
  width: 130px;
}

.cart_icon{
  display: flex;
}

.no_items{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: -8px;
  
}

.total_items{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(177, 43, 43);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: -8px;
  
}