*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.App{
  height: 100vh;
  background-color: black;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.App:before{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: url("imagenes/fondo.jpeg");
  opacity: 0.4;
}

